<!-- ? Preloader Start -->
<div id="preloader-active" xmlns:th="http://www.thymeleaf.org">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/assets/img/logo/loder.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<!-- Scroll Up -->
<div id="back-top" xmlns:th="http://www.thymeleaf.org">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>